
fpga/dev/db/SG_logic1.db_info
fpga/dev/db/SG_logic1.quiproj.3680.rdr.flock
*.db_info
fpga/dev/db/top.sld_design_entry.sci
*.summary
*.rpt
fpga/dev/incremental_db/README
*.tdf
*.qip
*.cdb
*.hdb
*.qmsg
*.dpi
/fpga/dev/db
/fpga/dev/incremental_db
/fpga/dev/output_files/top.fit.smsg
/fpga/dev/output_files/top.jdi
/fpga/dev/output_files/top.sld
